@font-face {
    font-family: fipps;
    src: url(../font/Fipps-Regular.otf);
}

body {
    background: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: fipps;
}

main {
    display: inline-block;
    font-size: 12px;
}

header {
    margin-top: 30px;
}

