body {
    background-image: url('../img/bg.png');
    background-size: 100%;
    text-align: center;
    font-family: Terminus;
}

main {
    display: inline-block;
    font-size: 12px;
}

header {
    margin-top: 30px;
}